header {
    position: sticky;
    background-color: rgb(33 35 45);
    width: 100%;
    min-height: 50px;
    display: inline-block;
}

.site-title {
    margin-left: 2%;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
    ul {
        list-style: none;
        display: flex;
        gap: 1.5rem;
        margin-right: 1.5rem;
        form {
            display: inline;
        }
    }
}

.card {
    background-color: rgb(33 35 45);
    border-radius: 5px;
    display: inline-block;
    width: 275px;
    margin: 2%;

}

.card * {
    position: relative;
    padding: 2%;
    margin-top: 2%;
    margin-bottom: 2%;
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 240px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;

    position: absolute;
    z-index: 1;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

.transaction-history-tabs {
        display: grid;
        grid-template-columns: 1fr 1fr;
    .tab {
        margin: 0 auto;
    }
}

p balance {
    font-size: 20px;
}

a:link, a:visited {
    color: deepskyblue;
}

form {
    margin-bottom: 2em;
}

td {
    border: 1px solid #4a5568;
}

td form {
    display: table-cell;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0 auto;
    background-color: rgb(23 25 35);
    color: #cccccc;
    max-width: 1440px;
    min-width: 480px;
}

main {
    flex: 1;
    width: 96%;
    margin: 0 auto;
}

footer {
    bottom: 0;
    background-color: rgb(33 35 45);
    width: 100%;
    text-align: right;
        p {
            right: 2%;
            position: relative;
        }
}
